@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	.no-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	
	.no-select {
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
}